body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: Arial;
  font-size: 45px;
  color: white;
}

h1 {
  font-size: inherit;
  margin: 10px;
}

p {
  font-size: inherit;
  margin: 0px;
}

.page {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  top: 0px;
  left: 0px;
}

.street {
  background: url('street_view-tiny.png') no-repeat;
  background-size: cover;
  background-position: 60%;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
}

.textblock {
  margin: 25px 25px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px 15px;
}

.intro.textblock {
  width: 405px;
}

a:link, a:visited, a:active {
  text-decoration: underline;
  color: white;
}
